<p class="commentTitle"><%= h comment.title -%></p>
<p><%= h comment.comment -%></p>
<p class="commentInfo"><%= comment.user ? comment.user.login : '#' -%><br/><%= comment.created_at -%><br/><%= comment.language.name -%></p>
