<p class="commentTitle"><%= h comment.title -%></p>
<p><%= h comment.comment -%></p>
<p class="commentInfo"><%= comment.user.login -%> | <%= comment.created_at -%> | <%= comment.language.name -%></p>
