<% content_for :head do %>
<%= siva_title :nav_languages %>
<% end %>

<table class="contentTable">
	<tr>
		<th><%= Language.human_attribute_name :name %></th>
		<th><%= Language.human_attribute_name :code %></th>
		<th><%= Language.human_attribute_name :rtl %></th>
		<th colspan="2"><%= t(:actions) %></th>
	</tr>
	<% for language in @languages.sort { |a,b| a.name <=> b.name } %>
	<tr>
		<td><%= link_to h(language.name), language %></td>
		<td><%=h language.code %></td>
		<td><%= language.rtl ? t(:rtl) : t(:ltr) %></td>
		<td><%= link_to t(:form_edit), edit_language_path(language) %></td>
		<td><%= link_to t(:form_remove), language, :confirm => t(:language_remove_confirm), :method => :delete %></td>
	</tr>
	<% end %>
</table>

<%= link_to t(:form_create), new_language_path %>
