<h1><%=h @language.name %></h1>
<h2><%=h @language.code %></h2>
<h2><%=h @language.rtl ? t(:rtl) : t(:ltr) %></h2>

<%= link_to t(:form_edit), edit_language_path %>
<%= link_to t(:form_remove), @language, :confirm => t(:language_remove_confirm), :method => :delete %>
<%= link_to_back %>
