<h1><%=h @language.name %></h1>
<h2><%=h @language.code %></h2>
<h2><%=h @language.rtl ? 'راست به چپ' : 'چپ به راست' %></h2>

<%= link_to 'ویرایش', edit_language_path %>
<%= link_to 'حذف', @language, :confirm => 'همهٔ کلمات این زبان حذف خواهند شد! مطمئنید؟', :method => :delete %>
<%= link_to 'بازگشت', languages_path %>
