<h1>زبان‌ها</h1>
<table>
	<tr><th>نام</th><th>نماد</th><th>جهت</th></tr>
	<% for locale in @locales.sort { |a,b| a.name <=> b.name } %>
	<tr>
		<td><%= link_to h(locale.name), locale %></td>
		<td><%=h locale.code %></td>
		<td><%= locale.rtl ? 'راست به چپ' : 'چپ به راست' %></td>
		<td><%= link_to 'ویرایش', edit_locale_path(locale) %></td>
		<td><%= link_to 'حذف', locale, :confirm => 'همهٔ کلمات این زبان حذف خواهند شد! مطمئنید؟', :method => :delete %></td>
	</tr>
	<% end %>
</table>

<%= link_to 'جدید', new_locale_path %>
