<table class="contentTable">
	<tr>
		<th>
			<%= Language.human_name %>
		</th>
		<td dir="<%= word.language.rtl ? 'rtl' : 'ltr' %>">
			<%= h word.language.name %>
		</td>
	</tr>
	<tr style="height: 100%">
		<td colspan="2" dir="<%= word.language.rtl ? 'rtl' : 'ltr' %>">
		<% word.word_forms.each do |form| %>
		<%= h form.text %><br/>
		<% end %>
		</td>
	</tr>
</table>
