<%= siva_title :nav_words %>

<% semantic_form_for :search, :url => search_words_path, :html => { :method => :get } do |form| %>
	<% form.inputs do %>
		<li class="string required">
		<label><%= WordForm.human_name %></label>
		<%= raw model_auto_completer 'word_form', '', 'word_id', '', :allow_free_text => true %><br/>
		</li>
	<% end %>
	<% form.buttons do %>
		<%= form.commit_button :label => t(:form_search) %>
	<% end %>
<% end %>

<%= link_to t(:form_create), new_word_path %>
