<table width="100%" class="contentTable">
	<tr>
		<th><%= Word.human_attribute_name :word_forms %></th>
		<th><%= Word.human_attribute_name :language  %></th>
		<th colspan="2"><%= t(:actions) %></th>
	</tr>
	<% @words.each do |word| %>
	<tr>
		<td><%= link_to forms_summary(word), word %></td>
		<td><%=h word.language.name %></td>
		<td><%= link_to t(:form_edit), edit_word_path(word) %></td>
		<td><%= link_to t(:form_remove), word, :confirm => t(:word_remove_confirm), :method => :delete %></td>
	</tr>
	<% end %>
</table>

<%= link_to t(:form_create), new_word_path %>
