<% content_for :head do %>
<%= siva_title :nav_words, :form_search %>
<% end %>

<% unless @words.blank? %>
<table class="contentTable">
	<tr>
		<th><%= Word.human_attribute_name :word_forms %></th>
		<th><%= Word.human_attribute_name :language %></th>
		<% if can_access?(:destory, :words) %>
		<th colspan="2"><%= t(:actions) -%></th>
		<% elsif can_access?(:update, :words) %>
		<th colspan="1"><%= t(:actions) -%></th>
		<% end %>
	</tr>
	<% @words.each do |word| %>
	<tr>
		<td><%= link_to forms_summary(word), word -%></td>
		<td><%= h word.language.name -%></td>
		<% if can_access?(:update, :words) %>
		<td><%= link_to t(:form_edit), edit_word_path(word) -%></td>
		<% end %>
		<% if can_access?(:destroy, :words) %>
		<td><%= link_to t(:form_remove), word, :confirm => t(:word_remove_confirm), :method => :delete %></td>
		<% end %>
	</tr>
	<% end %>
	<tr>
		<% if can_access?(:destroy, :words) %>
		<th colspan="4"><%= paginate @words -%></th>
		<% elsif can_access?(:update, :words) %>
		<th colspan="3"><%= paginate @words -%></th>
		<% else %>
		<th colspan="2"><%= paginate @words -%></th>
		<% end %>
	</tr>
</table>
<% end %>

<%= link_to t(:form_create), new_word_path if can_access?(:create, :words) %>
<%= link_to t(:form_index), words_path %>
<%= link_to_back %>
