<% @word.word_forms.each do |form| %>
<p><%=h form.text %></p>
<% end %>
<p>زبان: <%=h "#{@word.language.name} [#{@word.language.code}]"  %></p>

<%= link_to 'ویرایش', edit_word_path %>
<%= link_to 'حذف', @word, :confirm => 'مطمئنید؟', :method => :delete%>
<%= link_to 'بازگشت', words_path %>
