<table width="100%" class="contentTable">
	<tr>
		<th><%= Category.human_attribute_name :name %></th>
		<th colspan="2"><%= t(:actions) %></th>
	</tr>
<% @categories.each do |category| %>
	<tr>
	<% form_for category do %>
		<td><%= link_to category.name, category %></td>
		<td><%= link_to t(:form_edit), edit_category_path(category) %></td>
		<td><%= link_to t(:form_remove), category, :confirm => t(:category_remove_confirm), :method => :delete %></td>
	<% end %>
	</tr>
<% end %>
</table>

<%= link_to t(:form_create), new_category_path %>
