<% content_for :head do %>
<%= siva_title :nav_synonymies %>
<% end %>

<% semantic_form_for :search, :url => search_synonymies_path, :html => { :method => :get } do |form| %>
	<% form.inputs :name => t(:form_search) do %>
		<%= form.input :domain, :input_html => { :name => 'domain_id' }, :required => false, \
		  :include_blank => true, :label => Synonymy.human_attribute_name(:domain), \
		  :collection => nested_set_options(Domain) { |i| "#{'-' * i.level} #{i.name}" } %>
		<li class="string required">
		<label><%= Word.human_name %></label>
		<%= raw model_auto_completer 'word_form', '', 'word_id', '', :allow_free_text => true, :submit_on_return => true %><br/>
		</li>
	<% end %>
	<% form.buttons do %>
		<%= form.commit_button :label => t(:form_search) %>
	<% end %>
<% end %>

<%= link_to t(:form_create), new_synonymy_path if can_access?(:create, :synonymies) %>
