<% semantic_form_for :search, :url => search_synonymies_path, :html => { :method => :get } do |form| %>
	<% form.inputs do %>
		<%= form.input :category, :input_html => { :name => 'category_id' }, :required => false, \
		  :include_blank => true, :label => Synonymy.human_attribute_name(:category), \
		  :collection => nested_set_options(Category) { |i| "#{'-' * i.level} #{i.name}" } %>
		<li class="string required">
		<label><%= Word.human_name %></label>
		<%= raw model_auto_completer 'word_form[text]', '', 'word_id', '' %><br/>
		</li>
	<% end %>
	<% form.buttons do %>
		<%= form.commit_button :label => t(:form_search) %>
	<% end %>
<% end %>

<%= link_to t(:form_create), new_synonymy_path %>
