<% content_for :head do %>
<%= siva_title :nav_synonymies, :form_create %>
<% end %>

<% semantic_form_for @synonymy do |form| %>
	<% form.inputs do %>
		<%= form.input :domain, :include_blank => false, :required => false, \
		  :collection => nested_set_options(Domain) { |i| "#{'-' * i.level} #{i.name}" } %>
		<li class="string required">
		<label><%= Synonymy.human_attribute_name :word1 %></label>
		<%= raw model_auto_completer 'word_form_verbose', '', 'synonymy[word1_id]', '-1' %><br/>
		</li>
		<li class="string required">
		<label><%= Synonymy.human_attribute_name :word2 %></label>
		<%= raw model_auto_completer 'word_form_verbose', '', 'synonymy[word2_id]', '-1', :skip_style => true %><br/>
		</li>
	<% end %>
	<%= form.buttons %>
<% end %>

<%= link_to t(:form_index), synonymies_path %>
<%= link_to_back %>
