<% content_for :head do %>
<%= siva_title :nav_synonymies, :form_show %>
<% end %>

<table class="contentTable">
	<tr>
		<th><%= Synonymy.human_attribute_name :domain -%></th>
		<td><%= h @synonymy.domain.name -%></td>
	</tr>
	<tr>
		<td><%= render 'words/show', :word => @synonymy.word1 -%></td>
		<td><%= render 'words/show', :word => @synonymy.word2 -%></td>
	</tr>
	<% if can_access?(:update, :synonymies) %>
	<tr>
		<td><%= link_to "#{t(:form_edit)} #{Word.human_name}", edit_word_path(@synonymy.word1) %></td>
		<td><%= link_to "#{t(:form_edit)} #{Word.human_name}", edit_word_path(@synonymy.word2) %></td>
	</tr>
	<% end %>
</table>

<%= link_to t(:form_remove), @synonymy, :confirm => t(:synonymy_remove_confirm), :method => :delete if can_access?(:destroy, :synonymies) %>
<%= link_to t(:form_index), synonymies_path %>
<%= link_to_back %>

<div align="center">
<table class="contentTable commentTable">
	<tr>
		<th><%= Synonymy.human_attribute_name :comments -%></th>
		<% if can_access?(:destroy, :comments) %><th><%= t(:actions) -%></th><% end %>
	</tr>
	<% @synonymy.comments.each do |comment| %>
	<tr>
		<td <%= comment.language.rtl ? 'dir="rtl" style="text-align: right"' : 'dir="ltr" style="text-align: left"' -%> class="commentTD">
			<%= render 'comments/show', :comment => comment %>
		</td>
		<% if can_access?(:destroy, :comments) %>
		<td><%= link_to t(:form_remove), comment, :confirm => t(:comment_remove_confirm), :method => :delete -%></td>
		<% end %>
	</tr>
	<% end %>
	<% if can_access?(:create, :comments) %>
	<tr>
		<td style="text-align: <%= t(:dir) == 'rtl' ? 'right' : 'left' -%>"<%= ' colspan="2"' if can_access?(:destroy, :comments) -%>>
			<%= render 'comments/edit', :comment => @comment, :synonymy => @synonymy %>
		</td>
	</tr>
	<% end %>
</table>
</div>
