<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" dir="<%= t(:dir) %>">
	<head>
		<title><%= @page_title || t(:siva) %></title>
		<meta http-equiv="content-type" content="text/xhtml; charset=utf-8" />
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="distribution" content="all" />
		<meta name="robots" content="all" />	
		<meta name="resource-type" content="document" />
		<meta name="MSSmartTagsPreventParsing" content="true" />
		<%= stylesheet_link_tag 'base' %>
		<%= javascript_include_tag :defaults, :cache => true %>
		<%= stylesheet_link_tag 'formtastic-' + t(:dir), 'formtastic-changes-' + t(:dir) %>
	</head>
	
	<body>
		<div id="container">
		<table border="0">
		<!-- Header -->
		<tr>
			<td colspan="3" valign="middle" align="center" id="headerTD">
				<%= t(:siva) -%><span id="taglineTD"><%= t(:siva_tagline) -%></span>
			</td>
		</tr>
		<tr>
			<!-- Left sidebar -->
			<td valign="top" id="leftSidebarTD">
				<%= link_to_unless_current t(:nav_synonymies), synonymies_path -%><br/>
				<%= link_to_unless_current t(:nav_words), words_path -%><br/>
				<% if current_user && current_user.has_role?(:admin) %>
				<%= link_to_unless_current t(:nav_domains), domains_path -%><br/>
				<%= link_to_unless_current t(:nav_languages), languages_path -%><br/>
				<%= link_to_unless_current t(:nav_users), users_path -%><br/>
				<% end %>
			</td>

			<!-- Body -->
			<td rowspan="4" valign="top" id="contentTD">
				<div id="content">
					<%= yield :head %>
					<%= raw flash_messages %>
					<%= yield :layout %>
				</div>
			</td>
		</tr>

		<!-- Right sidebar -->
		<tr>
			<td id="rightSidebarTD">
				<% if logged_in? %>
				<%= t(:user_username) -%>: <%= link_to_current_user -%><br/>
				<%= link_to t(:user_logout), logout_path -%>
				<% else %>
				<%= link_to t(:user_login), login_path -%><br/>
				<%= link_to t(:user_signup), signup_path -%>
				<% end %>
			</td>
		</tr>
		<tr><td id="rightSidebarTD"><%= switch_language_links -%></td></tr>
		<tr><td></td></tr>

		<!-- Footer -->
		<tr><td colspan="3" valign="middle" align="center" id="footerTD"><%= t(:siva) -%></td></tr>
		</table>
		</div>
	</body>
</html>
